@import '../variables/colors';

.widget {
  width: 100%;
  border: 1px solid $widget-color-border;

  &__header {
    padding: 20.85px 19.81px 20.85px;
  }

  &__title {
    font-size: 37.53px;
    line-height: 28px;
    color: $text-color-widget-title;
  }
}
