$black-1: #000000;
$black-2: #273136;
$black-3: #212B30;
$black-4: #828282;
$black-5: #3E4B52;

$blue-1: #51DDF7;
$blue-2: #56ccf2;
$blue-3: #414FBF;

$white-1: #ffffff;

$yellow-1: #F9B727;
$yellow-2: #F9AA1A;

$gray-1: #E5E5E5;
$gray-2: #EAEAEA;
$gray-3: #333333;

$green-1: #63b99a;

$red-1: #ec596b;

$violet-1: #AC66AF;
$violet-2: #273136;

$header-bg-top: $black-2;
$header-bg-main: $yellow-1;

$text-color-crypto: $yellow-1;
$text-color-up: $green-1;
$text-color-down: $red-1;
$text-color-blue: $blue-2;

$text-color-menu-main: $black-1;

$text-color-icon-section: $black-4;
$text-color-icon-section-active: $yellow-2;

$text-color-meta-time-author: $gray-3;

$bg-body: $white-1;
$bg-color-widget-header: $yellow-1;
$bg-header-title-section: $yellow-1;
$bg-section-video: $yellow-1;

$text-color-widget-title: $black-3;
$widget-color-border: $yellow-1;

$bg-link-text: $blue-1;

$bg-header-video: $black-5;

$bg-section-ido: $violet-2;

$bg-time-down: $blue-2;
$border-time-down: $blue-3;
